.filter {
  flex: 1 0 0;
  padding: 0 16px;

  &__content {
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  &__default {
    flex: 1;
    outline: none;
    box-shadow: none;
  }

  &__dropdown {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__checkbox {
    display: block;
    padding: 8px 0px;
    padding-left: 18px;

    & + & {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__dropdown-label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: -10%;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__options {
    margin-top: 10px;
  }
}
